bin/
res/
wordnet/
aol/
JiahengLu/
*.class
*.txt
*.swp
/target/
/run/test.sh
/run/data_store/
/run/logs/
/run/output/
/run/result/
/run/json/
/run/err.log
/run/uploader/
result/
output/
exp/~$exp.xlsx
data/
exp/~$exp2.xlsx
